//! **************************************************************************
// Written by: Map P.20131013 on Tue May 24 08:26:15 2016
//! **************************************************************************

SCHEMATIC START;
COMP "CLK" LOCATE = SITE "C9" LEVEL 1;
COMP "LCD_E" LOCATE = SITE "M18" LEVEL 1;
COMP "SF_CE" LOCATE = SITE "D16" LEVEL 1;
COMP "rot_a" LOCATE = SITE "K18" LEVEL 1;
COMP "rot_b" LOCATE = SITE "G18" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "F11" LEVEL 1;
COMP "LCD_RS" LOCATE = SITE "L18" LEVEL 1;
COMP "LCD_RW" LOCATE = SITE "L17" LEVEL 1;
COMP "LCD_D<0>" LOCATE = SITE "R15" LEVEL 1;
COMP "LCD_D<1>" LOCATE = SITE "R16" LEVEL 1;
COMP "LCD_D<2>" LOCATE = SITE "P17" LEVEL 1;
COMP "LCD_D<3>" LOCATE = SITE "M15" LEVEL 1;
COMP "DS18S20" LOCATE = SITE "E8" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "CLK_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

